/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('../img/jojo_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('../img/jojo_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url('../img/jojo_3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.navbar .nav-link {
  color: #fff !important;
}

.logo {
  width: 100px;
  height: 30px;
}

.mb-3 {
  font-weight: bold;
}

/* Améliorer la navbar sur mobile */
@media (max-width: 991px) {
  .navbar {
    background: rgba(0, 0, 0, 0) !important;
  }
  
  .navbar-collapse {
    background: rgba(0, 0, 0, 0);
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
  }
}